[submodule "src/RRTMG/RRTMG_LW"]
	path = external/RRTMG/RRTMG_LW
	url = https://github.com/AER-RC/RRTMG_LW/
[submodule "src/RRTMG/RRTMG_SW"]
	path = external/RRTMG/RRTMG_SW
	url = https://github.com/dalesteam/RRTMG_SW.git
[submodule "src/RTE-RRTMGP"]
	path = external/RTE-RRTMGP
	url = https://github.com/earth-system-radiation/rte-rrtmgp.git
[submodule "external/ecbuild"]
	path = external/ecbuild
	url = https://github.com/ecmwf/ecbuild.git
	branch = develop
[submodule "external/rrtmgp-data"]
	path = external/rrtmgp-data
	url = https://github.com/earth-system-radiation/rrtmgp-data.git
